
.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  
  
    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-200deg, #000000 0%, #0D0D0D 100%);
      opacity: 0.6;
      z-index: 1;
    }
  
    .content {
      position: relative;
      z-index: 3;
      padding:30px;
    }
  }
  