@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #8C1111;
  --secondary: #262626;
  --text: #FFFFFF;
  --background: #0D0D0D;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family:"Raleway", sans-serif;
    ::-webkit-scrollbar {
      width: 8px;
      height: 7px;
      }
      ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
      }
      ::-webkit-scrollbar-thumb {
        background: var(--secondary);
        border: 0px none #ffffff;
        border-radius: 3px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary);
        
      }
      ::-webkit-scrollbar-thumb:active {
        background: var(--secondary);

      }
      ::-webkit-scrollbar-track {
        background:var(--primary);
        border: 0px none #ffffff;
        border-radius: 4px;
      }
      ::-webkit-scrollbar-track:hover {
        background: var(--primary);
      }
      ::-webkit-scrollbar-track:active {
        background: var(--primary);
      }
      ::-webkit-scrollbar-corner {
        background: var(--primary);
      }
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
  .notification-container {
    top: 64px;
    width: initial;
    max-width: 500px;
  }
  .padding-containers {
    padding: 15px 0;
  }
  .padding-containers > div {
    padding: 7px;
  }

  .padding-children > div {
    padding: 7px !important;
  }
  .autocomplete .MuiPaper-root {
    position: absolute;
    z-index: 999;
    min-width: initial !important;
    max-width: calc(100% - 53px);
  }
  